*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

html,body{
  background:black;
  color:white;
  overflow-x:hidden;
}

/* MATRIX */
#matrix{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

/* BOOT */
#bootScreen{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
  font-family:monospace;
  color:#00ff88;
  transition:opacity 1s ease;
}

#bootScreen.hidden{
  opacity:0;
  pointer-events:none;
}

.terminal{
  width:90%;
  max-width:600px;
  font-size:18px;
  white-space:pre-wrap;
}

/* Cursor */
.cursor{
  display:inline-block;
  width:10px;
  animation:blink 1s infinite;
}

@keyframes blink{
  0%,50%,100%{opacity:1;}
  25%,75%{opacity:0;}
}

/* TOPBAR */
.topbar{
  position:fixed;
  top:0;
  width:100%;
  padding:15px;
  background:rgba(0,0,0,0.9);
  border-bottom:2px solid red;
  text-align:center;
  z-index:1000;
}

.logo{
  font-size:24px;
  color:#00ff88;
  text-shadow:0 0 10px #00ff88,0 0 20px red;
}

.container{
  margin-top:100px;
  padding:20px;
  display:flex;
  flex-direction:column-reverse;
  gap:25px;
}

.card{
  background:rgba(20,20,20,0.95);
  border:1px solid red;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 0 15px #00ff88,0 0 25px red;
  transition:0.4s;
}

.card:hover{
  transform:scale(1.03);
}

.video-wrapper{
  position:relative;
  padding-top:56.25%;
}

.video-wrapper iframe,
.video-wrapper video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:none;
}

.badge{
  position:absolute;
  background:red;
  padding:6px 10px;
  margin:10px;
  font-size:13px;
  border-radius:8px;
  animation:pulse 1s infinite;
}

@keyframes pulse{
  0%{box-shadow:0 0 5px red;}
  50%{box-shadow:0 0 20px red;}
  100%{box-shadow:0 0 5px red;}
}

.title{
  padding:12px;
  font-weight:bold;
  color:#00ff88;
}

.views{
  padding:0 12px 12px;
  font-size:13px;
  color:#aaa;
}

.post{
  padding:15px;
}

footer{
  text-align:center;
  padding:20px;
  border-top:1px solid red;
}
