body{
margin:0;
background:#050505;
font-family:monospace;
color:white;
overflow-x:hidden;
}

/* TOPBAR */
.topbar{
position:sticky;
top:0;
padding:15px;
background:black;
text-align:center;
box-shadow:0 0 25px red;
z-index:999;
}

.logo{
font-weight:bold;
letter-spacing:4px;
text-shadow:0 0 15px red;
}

/* BOOT */
#bootScreen{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
z-index:9999;
overflow:hidden;
}

.boot-logo{
font-size:24px;
color:red;
margin-bottom:20px;
text-shadow:0 0 15px red;
}

.container{
width:95%;
max-width:800px;
margin:auto;
padding:20px;
}

.card{
background:#0a0a0a;
padding:20px;
margin-bottom:25px;
border-radius:12px;
box-shadow:0 0 20px rgba(255,0,0,0.4);
position:relative;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px) scale(1.01);
animation:shake 0.2s infinite alternate;
}

@keyframes shake{
from{transform:translateX(-2px);}
to{transform:translateX(2px);}
}

.title{
margin-top:0;
}

.glitch{
text-shadow:0 0 5px red;
}

.views{
opacity:0.7;
font-size:14px;
}

.badge{
position:absolute;
top:15px;
right:15px;
background:red;
padding:5px 10px;
border-radius:20px;
font-size:12px;
}

.badge.viral{
background:linear-gradient(45deg,red,orange);
box-shadow:0 0 10px red;
}

.badge.tentativa{
background:darkred;
}

.post-img{
width:100%;
border-radius:10px;
margin-top:10px;
}
