*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

/* FUNDO PLASMA */
body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:
radial-gradient(circle at 30% 30%, rgba(255,0,0,0.15), transparent 40%),
radial-gradient(circle at 70% 70%, rgba(0,255,0,0.15), transparent 40%);
z-index:-2;
animation:plasmaMove 10s infinite alternate;
}

@keyframes plasmaMove{
0%{filter:blur(30px);}
100%{filter:blur(60px);}
}

/* TOPBAR */
.topbar{
position:fixed;
top:0;
width:100%;
padding:18px;
background:rgba(0,0,0,0.9);
border-bottom:2px solid #ff0000;
display:flex;
justify-content:center;
z-index:999;
}

.logo{
font-size:26px;
font-weight:bold;
color:#00ff88;
text-shadow:0 0 15px #00ff88,0 0 30px #ff0000;
}

/* CONTAINER */
.container{
margin-top:120px;
padding:30px;
display:flex;
flex-direction:column-reverse;
gap:30px;
}

/* CARD */
.card{
background:rgba(20,20,20,0.95);
border:1px solid #ff0000;
border-radius:18px;
overflow:hidden;
transition:0.5s;
box-shadow:0 0 20px #00ff88,0 0 25px #ff0000;
}

.card:hover{
transform:scale(1.03);
box-shadow:0 0 40px #00ff88,0 0 50px #ff0000;
}

/* VIDEO */
.video-wrapper{
position:relative;
padding-top:56.25%;
}

.video-wrapper iframe,
.video-wrapper video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:none;
}

/* BADGE */
.badge{
position:absolute;
background:#ff0000;
color:white;
padding:8px 12px;
font-size:14px;
border-radius:10px;
margin:10px;
animation:pulse 1.2s infinite;
z-index:2;
}

@keyframes pulse{
0%{box-shadow:0 0 5px #ff0000;}
50%{box-shadow:0 0 25px #ff0000;}
100%{box-shadow:0 0 5px #ff0000;}
}

.glitch{
animation:glitch 1s infinite;
color:#00ff88;
}

@keyframes glitch{
0%{text-shadow:2px 2px red,-2px -2px blue;}
50%{text-shadow:-2px -2px red,2px 2px blue;}
100%{text-shadow:2px 2px red,-2px -2px blue;}
}

.title{
padding:15px;
font-size:20px;
font-weight:bold;
}

.views{
padding:0 15px 15px;
font-size:14px;
color:#aaa;
}

.post{
padding:20px;
}

.post-img{
width:100%;
border-radius:15px;
margin-top:15px;
box-shadow:0 0 20px red;
}

footer{
margin-top:40px;
padding:20px;
text-align:center;
color:#00ff88;
border-top:1px solid #ff0000;
}
